fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
pyjwt
pandas
numpy
seaborn
matplotlib
alembic
joblib
python-jose
scikit-learn
cython
pydantic-settings
asyncpg
pydantic[email]
