fastapi==0.95.1
uvicorn==0.22.0 
sqlalchemy==2.0.11
psycopg2-binary==2.9.6
pydantic==1.10.5
python-dotenv==0.21.1
passlib[bcrypt]==1.7.4
pyjwt==2.7.0
pandas==1.5.3
numpy==1.24.2
seaborn==0.11.2
matplotlib==3.7.1
alembic==1.10.4
joblib==1.1.0
python-jose
